icono_advertencia       RCDATA  D:\Desarrollo\Plataforma\Delphi\ecopred\resources\picture\icono_advertencia.png
icono_error     RCDATA  D:\Desarrollo\Plataforma\Delphi\ecopred\resources\picture\icono_error.png
icono_informacion       RCDATA  D:\Desarrollo\Plataforma\Delphi\ecopred\resources\picture\icono_informacion.png
icono_pregunta  RCDATA  D:\Desarrollo\Plataforma\Delphi\ecopred\resources\picture\icono_pregunta.png
